module.exports = {
  port: process.env.PORT || 8001,

  environment: process.env.NODE_ENV || 'development'

};

module.exports.scaling = {
  scaled: false
};

// If this instance does importing
module.exports.import = {
  enabled    : true,
  credentials: {
    host    : '',
    user    : '',
    password: '',
    database: ''
  }
};

module.exports.connections = {
  localDiskDb: {
    adapter: 'sails-disk'
  },
  islive: {
    adapter : 'sails-mysql',
    host    : '',
    user    : '',
    password: '',
    database: ''
  },

  chatterbox: {
    adapter : 'sails-mysql',
    host    : '',
    user    : '',
    password: '',
    database: ''
  },
  mongoLocal: {
    adapter     : 'sails-mongo',
    host        : 'localhost',
    nativeParser: true,
    port        : 27017
  }
};

// Sync user credits to this system?
// Only use in production, or when configuring a local DB above ^
module.exports.userSync = {
  enabled: false,
};

module.exports.wallet = {
    salt: '' // Salt goes here.
}
