module.exports = {
  port: process.env.PORT || 8001,

  environment: process.env.NODE_ENV || 'development'
};

module.exports.system = {
  masterIps    : ['127.0.0.1'],
  defaultObject: {
    host       : 'api.islive.io',
    partnerCode: 61,
    partnerInfo: 'typein',
    email      : 'abuse@your.domain
  }
};

module.exports.scaling = {
  scaled: false
};

module.exports.chat = {
  enabled: true
};

// If this instance does importing
module.exports.import = {
  enabled    : true,
  credentials: {
    host    : '',
    user    : '',
    password: '',
    database: ''
  }
};

module.exports.connections = {
  chatterbox: {
    adapter : 'sails-mysql',
    host    : '',
    user    : '',
    password: '',
    database: ''
  },
  mongoLocal: {
    adapter     : 'sails-mongo',
    host        : 'localhost',
    nativeParser: true,
    port        : 27017
  },
  trackthis : {
      adapter : 'sails-mysql',
      user    : '',
      host    : '',
      password: '',
      database: ''
    }
};

// Sync user credits to this system?
// Only use in production
module.exports.userSync = {
  enabled: false
};

module.exports.wallet = {
  salt: '' // Salt goes here.
};
