module.exports = {
  port: process.env.PORT || 8001,

  environment: process.env.NODE_ENV || 'development'
};

module.exports.system = {
  masterIps    : ['127.0.0.1'],
  defaultObject: {
    host       : 'api.islive.io',
    partnerCode: 61,
    partnerInfo: 'typein',
    email      : 'abuse@your.domain'
  }
};

module.exports.scaling = {
  scaled: false
};

module.exports.chat = {
  enabled: true
};

// If this instance does importing
module.exports.import = {
  enabled    : true,
  credentials: {
    host    : 'localhost',
    user    : 'root',
    password: '',
    database: 'islive'
  }
};

module.exports.connections = {
  chatterbox: {
    adapter : 'sails-mysql',
    host    : 'localhost',
    user    : 'root',
    password: '',
    database: 'chatterbox'
  },
  mongoLocal: {
    adapter     : 'sails-mongo',
    host        : 'localhost',
    nativeParser: true,
    port        : 27017
  },
  mysqlLocal: {
    adapter : 'sails-mysql',
    host    : 'localhost',
    user    : 'root',
    password: '',
    database: 'fortress'
  },
  trackthis : {
    adapter : 'sails-mysql',
    user    : 'root',
    host    : 'localhost',
    password: '',
    database: 'trackthis'
  }
};

// Sync user credits to this system?
// Only use in production
module.exports.userSync = {
  enabled: false
};

module.exports.wallet = {
  salt: '' // Salt goes here.
};

module.exports.notifications = {
  enabled: true,
  push   : {
    pushover: {
      userToken       : '',
      applicationToken: ''
    },
    nma     : {
      tokens: []
    }
  }
};

module.exports.session = {
  secret: '', // Your secret
  cookie: {
    maxAge: 365 * 24 * 60 * 60 * 1000
  },
  adapter: 'redis'
};

module.exports.sockets = {
  db     : 1,
  adapter: 'redis'
};
